  

body {  
    background-color:rgba(231, 172, 53, 0.397) ;    
    }

.quiz {
    margin-top: 0.2rem;
    text-align: center;
}
h2 {
    margin-bottom: 3rem;
}

.choice-container {
    display: flex;
    margin-left: 22rem;
    margin-bottom: 0.5rem;
    width: 50%;
    border: 0.1rem solid #f9861a3f;
    border-radius: 1rem;
    background-color: white;
  }

  .choice-container:hover {
    cursor: pointer;

  }

  .choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #0069B5;
    color: white;
    font-size: 1.1rem;
    margin: 0;
    border-radius: 1rem;
  }

  .choice-text {
    padding: 1.5rem;
    font-size: 1.1rem;
    margin: 0;
  }

  .correct {
    background-color: #28a745;
  }
  
  .incorrect {
    background-color: #dc3545;
  }

  #hud {
    display: flex;
    justify-content: space-around;
  }
  
  .hud-prefix {
    text-align: center;
    font-size: 1.7rem;
  }
  
  .hud-main-text {
    text-align: center;
    font-size: 3.1rem;
    color: #ff7b00;
  }